<div class="container my-5">
    <h1 class="mb-4 text-center">Purchases</h1>
    <table class="table table-hover" style="border: 1px solid black;">
        <thead style="border: 1px solid black;" class="table-dark text-center">
            <tr>
                <th style="border: 1px solid black;">Store Name</th>
                <th style="border: 1px solid black;">Date</th>
                <th style="border: 1px solid black;">Actions</th>
            </tr>
        </thead>
        <tbody class="align-middle text-center">
            {% for purchase in purchases %}
            <tr style="border: 1px solid black;">
                <td style="border: 1px solid black;">{{ purchase.storeName }}</td>
                <td style="border: 1px solid black;">{{ purchase.date|date('Y-m-d H:i') }}</td>
                <td style="border: 1px solid black;">
                    <a href="{{ path('app_purchase_show', {'id': purchase.id}) }}" class="btn btn-sm btn-primary">View</a>
                    <a href="{{ path('app_purchase_edit', {'id': purchase.id}) }}" class="btn btn-sm btn-secondary">Edit</a>

                    <form method="post" action="{{ path('app_purchase_delete', {'id': purchase.id}) }}"
                          style="display:inline"
                          onsubmit="return confirm('Are you sure you want to delete this purchase?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ purchase.id) }}">
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3" class="text-center">No purchases found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
